footer
    background $azul
    margin-top 90px
    +tablet()
        margin-top 60px
    +mobile()
        margin-top 35px
    .center
        display flex
    .informacoes
        padding 20px 0
        img
            display block
            margin 0
        p
            opensans 10
            color #fff
            span
                font-size 12px
            a:hover
                color #000
            &:last-child
                margin-bottom 0
    .links
        display flex
        margin-left auto
        border-left 2px solid #fff
        padding 20px 0 20px 30px
        color #fff
        +below($tablet)
            display none
        .col
            margin-left 50px
            &:first-child
                margin 0
        a
        .titulo
            oswald 13
            display block
            margin-top 12px
            &:first-child
                margin-top 0
        a:hover
            color #000
        .titulo
            cursor default
        .sub
            margin-top 10px
            a
                opensans 10
                display block
                margin-top 5px

.protip-content
    oswald 13
    text-transform uppercase
