header
    width 100%
    height 112px
    background #fff
    border-top 1px solid $azul
    position relative
    +below($tablet)
        height 85px
    .center
        position static
        display flex
        align-items center
        height 100%
    .slogan
        margin-left 12px
        +mobile()
            display none
    #nav-desktop
        margin-left 95px
        display flex
        align-items center
        +below($tablet)
            display none
        a
            oswald 16
            &:hover
            &.active
                color $vermelho
        > *
            margin-left 36px
            &:first-child
                margin-left 0
        .dropdown-handle
            height 112px
            > a
                line-height 112px
            &:hover
                .dropdown
                    opacity 1
                    visibility visible
                a
                    color $vermelho
                    cursor default
        .dropdown
            visibility hidden
            opacity 0
            transition all .3s
            position absolute
            top 85px
            left 0
            width 100%
            background #fff
            z-index 9999
            box-shadow 0 9px 15px rgba(#000, .2)
            display flex
            justify-content center
            padding 10px 0 20px
            .col + .col
                margin-left 40px
            a
                opensans 12
                display block
                color #000 !important
                cursor pointer !important
                &:hover
                    color $vermelho !important
                + a
                    margin-top 8px
    .contato-header
        margin-left auto
        background $cinzaBg
        align-self flex-start
        height 64px
        width 335px
        transform skewX(-20deg) translateX(70px)
        padding-right 70px
        padding-top 12px
        +below($tablet)
            display none
        p
            margin 0
            text-align right
            opensans 12
            transform skewX(20deg)
            a:hover
                color $vermelho

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 24px
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left auto
    .lines
        display block
        width 100%
        height 4px
        background $azul
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background $azul
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

#nav-mobile
    +above($tablet)
        display none !important
    width 100%
    display none
    padding 25px 5%
    position absolute
    z-index 102
    box-shadow 0 3px 0 darken($azul, 4)
    background $azul
    text-align right
    left 0
    top 85px
    a
        display block
        oswald 16
        text-transform uppercase
        color #fff
        &.active
            color #000
        &.tooltip
            display inline-block
        + a
            margin-top 8px
    .sub
        margin 5px 0 12px
        a
            opensans 11
            text-transform none
            + a
                margin-top 3px

.protip-container
    z-index 9999 !important
