.center
    width desktop-base-width
    position relative
    margin 0 auto
    clearfix()
    +below($tablet)
        width 90%

.conteudo
    overflow hidden

.imagem-wrapper
    width 500px
    position relative
    height 320px
    float left
    &:before
        content ''
        position absolute
        height 100%
        width 2000px
        background $azul
        right calc('100% - 60px')
        top 0
    .imagem
        width 500px
        height 320px
        transform skewX(-20deg)
        overflow hidden
        img
            transform skew(20deg) translateX(-60px)
    .titulo
        display inline-block
        background $verde
        oswald 32
        color #D7EAE8
        transform skewX(-20deg) translateY(-50%) translateX(20px)
        float right
        span
            display block
            transform skewX(20deg)
            padding 14px 30px
            text-transform uppercase
            text-align center
    +tablet()
        z-index 2
        width 300px
        height 192px
        .imagem
            width 300px
            height 192px
            img
                width 375px
                transform skew(20deg) translateX(-40px)
        .titulo
            font-size 24px
    +mobile()
        height auto
        width auto
        &:before
            display none
        .imagem
            width 100vw
            margin-left -5%
            height auto
            transform none
            img
                width 100%
                display block
                transform none
        .titulo
            position absolute
            bottom 0
            left 0
            font-size 22px
            transform skewX(-20deg) translateY(-20px) translateX(-17px)
            max-width 80%
            span
                padding 8px 18px

.texto-wrapper
    background $cinzaBg
    width 550px
    float right
    position relative
    padding 45px 0 65px
    &:after
        content ''
        position absolute
        width 2000px
        height 100%
        left 100%
        top 0
        background $cinzaBg
    &:before
        content ''
        position absolute
        width 600px
        height 100%
        left -92px
        top 0
        background $cinzaBg
        transform skewX(-20deg)
        transform-origin top left
        z-index -1
    +tablet()
        width 80%
        float right
        clear both
        padding-top 65px
    +mobile()
        width 100%
        padding 25px 0 30px

.texto
    p
        opensans 16
        line-height 1.5
    h2
        opensans 22
        margin-top 3em
        + h3
            margin-top -.5em
    h3
        opensans 18
        color $vermelho
    ul
        list-style-type none
        padding 0
        opensans 16
        line-height 1.5
        margin 1.5em 0
        li
            position relative
            padding-left 1em
            &:before
                content '\00b7'
                position absolute
                left 0
            + li
                margin-top .5em
    *:first-child
        margin-top 0
    *:last-child
        margin-bottom 0
    +mobile()
        p
        ul
            font-size 14px
        h2
            font-size 18px
            margin-top 2em
        h3
            font-size 16px
    +tablet()
        p
        ul
            font-size 15px
        h2
            font-size 20px
        h3
            font-size 18px
