desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul     = #365369
$cinzaBg  = #EFF1EB
$vermelho = #D40203
$verde    = #B6D1D0

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700')

opensans($size, $weight = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Arial', 'Helvetica', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700

oswald($size, $weight = normal)
    font-size $size + 0px
    font-family 'Oswald', 'Arial', 'Helvetica', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
