.consultorias
    background $verde
    padding 20px 0
    .icones
        display flex
        justify-content center
        position relative
        z-index 2
        a
            display block
            width 210px
            padding 30px 0 50px
            border-radius 999px 999px 0 0
            border-bottom 0
            background $verde
            border 1px solid $verde
            border-bottom none
            position relative
            +tablet()
                width 140px
                padding 20px 0 30px
            .icone
                width 150px
                position relative
                margin 0 auto
                +tablet()
                    width 110px
                img
                    width 100%
                    display block
                    border-radius 100%
                    &:last-child
                        position absolute
                        opacity 0
                        top 0
                        left 0
                        width 100%
                        transition opacity .3s
            &.active
                border-color #fff !important
                .icone img:last-child
                    opacity 1
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 1px
                    bottom -1px
                    left 0
                    background $verde
                span
                    color $vermelho
            &:hover
                .icone img:last-child
                    opacity 1
                span
                    color $vermelho
            span
                display block
                margin-top 15px
                opensans 22 bold
                font-style italic
                text-align center
                color #000
                transition color .3s
                padding 0 10px
                +tablet()
                    font-size 16px
        +mobile()
            display block
            a
                width 100%
                padding 20px
                border-radius 4px
                border-bottom 1px solid $verde
                &.active
                    border-bottom 1px solid #fff
                    .descricao-mobile
                        display block
                &:after
                    display none !important
                .icone
                    width 80px
                span
                    font-size 16px
                    margin-top 10px
    .descricao
        display none
        border-top 1px solid #fff
        padding 55px 0
        +below($mobile)
            display none !important
        p
            opensans 20
            margin 0
        +tablet()
            padding 35px 0
            p
                font-size 16px
    .descricao-mobile
        +above($mobile)
            display none !important
        display none
        margin-bottom 0
        opensans 15
