.contato
    .mapa
        width 100%
        height 600px
        +tablet()
            height 400px
        +mobile()
            height 250px
        iframe
            display block
            width 100%
            height 100%
    .informacoes
        position absolute
        top 380px
        left 0
        max-width 330px
        .telefone
            opensans 22 bold
            font-style italic
            margin 0
        .endereco
            margin-top .5em
            margin-bottom 0
            opensans 15
        +tablet()
            right 0
            left auto
            top 25px
            text-align right
            .telefone
                font-size 20px
            .endereco
                font-size 14px
        +mobile()
            position relative
            top auto
            max-width 100%
            padding 20px 0
            float left
            .telefone
                font-size 18px
            .endereco
                font-size 14px
    .texto-wrapper
        min-height 535px
        +below($tablet)
            min-height auto
    form
        width 100%
        max-width 450px
        clearfix()
        p
            opensans 22 bold
            font-style italic
            margin 0 0 1.2em
            +tablet()
                font-size 19px
            +mobile()
                font-size 17px
        .input
            position relative
            margin-bottom 5px
            &:after
                content ''
                position absolute
                width 0
                height 0
                border-style solid
                border-width 17px 21px 0 0
                border-color $cinzaBg transparent transparent transparent
                top 0
                left 0
            > *
                width 100%
                display block
                background #fff
                position relative
                padding-left 30px
                padding-top 5px
                padding-bottom 5px
                padding-right 10px
                min-height 30px
                border 0
                outline 0
                resize none
                opensans 15
                font-style italic
            textarea
                height 150px
        button
            display inline-block
            margin-top 10px
            transform skewX(-20deg) translateX(-10px)
            background $verde
            color $vermelho
            oswald 20
            float right
            padding 10px 40px
            border 0
            outline 0
            cursor pointer
            transition background .3s, color .3s
            &:hover
                background $vermelho
                color #fff
            span
                display block
                transform skewX(20deg)
        .flash
            width 100%
            display block
            padding 15px
            opensans 14
            letter-spacing .5px
            text-transform uppercase
            text-align center
            border-radius 4px
            margin-bottom 8px
            &.enviado
                background $verde
                color $azul
            &.erro
                border 1px solid #d65858
                color #d03232
