.home
    overflow-x hidden

.banners
    height 520px
    width 100%
    margin-bottom 30px
    +tablet()
        height 670px
    +mobile()
        height auto
    .center
        height 100%
        +mobile()
            width 100%
    .slide
        position relative
        width 100%
        height 100%
        .background
            position absolute
            top 0
            right 50%
            height 440px
            width 1600px
            transform skewX(-20deg) translateX(234px)
            overflow hidden
            img
                transform skewX(20deg) translateX(80px)
                display block
                position absolute
                top 0
                right 0
            +tablet()
                height 360px
                img
                    height 360px
            +mobile()
                width 100%
                height 240px
                transform none
                position relative
                right auto
                img
                    transform none
                    height 240px
                    position relative
                    left 50%
                    transform translateX(-50%)
        .titulo
            position absolute
            left 0
            top 0
            height 440px
            width 735px
            display flex
            align-items center
            z-index 2
            span
                oswald 52
                color #fff
            +tablet()
                width 500px
                height 360px
                span
                    font-size 44px
            +mobile()
                width 90%
                height 240px
                left 5%
                span
                    font-size 32px
        .box
            background $cinzaBg
            transform skewX(-20deg)
            width 100%
            height 240px
            position absolute
            bottom 0
            left 0
            z-index -1
            +tablet()
                height 470px
            +mobile()
                width 100%
                transform none
                position relative
        .imagem
            position absolute
            right 0
            top 55px
            z-index 2
            +tablet()
                right 0
                top auto
                bottom 40px
                width calc('100% - 330px')
                max-width 520px
            +mobile()
                right 5%
                top auto
                bottom 10px
                width 200px
        .descricao
            width 305px
            position absolute
            top 385px
            right 70px
            z-index 3
            opensans 16
            p
                margin 0
            strong
                font-size 20px
            +tablet()
                right auto
                left 40px
                top 400px
                font-size 15px
                strong
                    font-size 18px
            +mobile()
                right auto
                left 5%
                width 90%
                top 255px
                font-size 14px
                strong
                    font-size 15px
    .cycle-pager
        position absolute
        bottom 95px
        height 6px
        z-index 102
        left 50%
        margin-left -600px
        clearfix()
        +below($tablet)
            display none
        span
            display block
            float left
            width 40px
            height 6px
            border 1px solid #fff
            font-size 0
            cursor pointer
            &.cycle-pager-active
                background #fff
            + span
                margin-left 4px

.consultorias-home
    background $verde
    transform skewX(-20deg)
    float right
    width 900px
    .wrapper
        transform skewX(20deg)
        padding 50px 0
    .titulo
        padding 0 90px
        margin-bottom 30px
        h2
            oswald 20
            margin 0
            color #fff
        h3
            opensans 16
            font-style italic
            margin 1em 0 0
            transform translateX(-10px)
    .icones
        display flex
        flex-wrap wrap
        justify-content center
        padding 0 50px
        padding-left 20px
        a
            display block
            margin 0 10px
            &:hover span
                color $vermelho
            img
                width 120px
                height 120px
                border-radius 100%
                display block
            span
                max-width 120px
                display block
                text-align center
                margin-top 10px
                opensans 16
                font-style italic
                transition color .3s
    +tablet()
        width 100%
        .wrapper
            padding 40px 0
        .titulo
            padding 0 85px
            margin-bottom 20px
            h2
                font-size 18px
            h3
                font-size 15px
        .icones a
            img
                width 100px
                height 100px
            span
                max-width 100px
                font-size 14px
    +mobile()
        width 100%
        position relative
        transform none
        &:before
        &:after
            content ''
            position absolute
            width 100%
            height 100%
            background $verde
            top 0
        &:before
            right 100%
        &:after
            left 100%
        .wrapper
            transform none
            padding 20px 0 10px
        .titulo
            padding 0
            margin-bottom 15px
            h2
                font-size 17px
            h3
                font-size 14px
                transform none
        .icones
            padding 0
            a
                margin 0 10px 15px
                img
                    width 100px
                    height 100px
                span
                    max-width 100px
                    font-size 14px
