.direccao-estrategica
    background $verde
    padding 65px 0
    h2
        opensans 28 bold
        color #fff
        font-style italic
        margin 0 0 35px
        text-align center
    .icones
        display flex
        align-items center
        justify-content center
        .icone
            width 200px
            .circulo-1
                width 200px
                height 200px
                background rgba(#fff, .2)
                border-radius 100%
                opensans 22 bold
                font-style italic
                text-align center
                padding-top 65px
            .circulo-2
                width 115px
                height 115px
                background rgba(#fff, .2)
                border-radius 100%
                margin -55px auto 0
                background-repeat no-repeat
                background-position center
            &.icone-1 .circulo-2
                background-image $img('sobre-1.png')
            &.icone-2 .circulo-2
                background-image $img('sobre-2.png')
            &.icone-3 .circulo-2
                background-image $img('sobre-3.png')
        .seta
            margin -50px 25px 0
            width 52px
            height 20px
            position relative
            &:before
                content ''
                position absolute
                width 100%
                top 50%
                left 0
                height 1px
                background #000
            &:after
                content ''
                position absolute
                width 13px
                height 13px
                border-bottom 1px solid #000
                border-right 1px solid #000
                transform rotate(-45deg)
                top 4px
                right 1px
    +tablet()
        padding 45px 0
        h2
            font-size 24px
            margin-bottom 1em
        .icones
            .seta
                margin -50px 10px 0
    +mobile()
        padding 30px 0
        h2
            font-size 20px
            margin-bottom 1em
        .icones
            display block
            .icone
                margin 0 auto
                .circulo-1
                    font-size 20px
                    padding-top 70px
            .seta
                width 24px
                transform rotate(90deg)
                margin 20px auto
